{% extends "base.html" %}
{% load static %}

{% block content-standard%}
<div id="content-right-dash" class="flexbox-col-right" style="position: relative;">

<canvas class="flexbox-col-right" id="myPieChart" width="400" height="400"></canvas>
<button id="resetButton">Reset</button>
<script src="{% static 'js/app.js' %}"></script>

<!-- <script src="http://d3js.org/d3.v5.js"></script> -->
<!-- <script src="{% static 'js/messages_piechart_try.js' %}"></script> -->
</div>

<!-- <div id="content-left-dash" class="flexbox-col-left"> -->
<!-- <script src="http://d3js.org/d3.v4.js" charset="utf-8""></script> -->
<!-- <script src="{% static 'js/messages_by_topic.js' %}" defer></script> -->
<!-- </div> -->
{% endblock content-standard %}
