<!DOCTYPE html>
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Insight Hoot{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/insighthootlogo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static "ionicons/css/ionicons.css" %}">
    <link rel="stylesheet" type='text/css' href="{% static 'style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.3/dist/chart.umd.min.js"></script>
</head>
<body>
    <header>
<!-- Navbar -->
    <nav id="navbar">
      <ul class="navbar-items flexbox-col">
        <li class="navbar-logo flexbox-left">
          <a class="navbar-item-inner flexbox">
            <img src="/static/insighthootlogo.png" alt="" width="50" height="50">
          </a>
          <a class="navbar-item-inner flexblox-left">
          <span class="link-text">Insight Hoot</span>
          </a>
        </li>
       <li class="navbar-item flexbox-left">
       <form class="navbar-item flexbox-left" id="home-form" action="{% url 'home' %}" method="GET">
        
        <!-- CSRF token field if required by your backend -->
        <!-- <input type="hidden" name="_token" value="your_csrf_token_here"> -->
        <a href="#" onclick="document.getElementById('home-form').submit();" class="navbar-item-inner flexbox-left">
          <div class="navbar-item-inner-icon-wrapper flexbox">
            <i class="fas fa-home"></i> <!-- Use appropriate icon for logout -->
          </div>
          <span class="link-text">Home</span>
        </a>
       </form>

        {% if user.is_anonymous  %}
        <li class="navbar-item flexbox-left">
      <form class="navbar-item flexbox-left" id="login-form" action="/accounts/microsoft/login/?process=login" method="GET">
        
        <!-- CSRF token field if required by your backend -->
        <!-- <input type="hidden" name="_token" value="your_csrf_token_here"> -->
        <a href="#" onclick="document.getElementById('login-form').submit();" class="navbar-item-inner flexbox-left">
          <div class="navbar-item-inner-icon-wrapper flexbox">
            <i class="fas fa-sign-in-alt"></i> <!-- Use appropriate icon for logout -->
          </div>
          <span class="link-text">Login</span>
        </a>
      </form>
        </li>
        {% endif %}

        {% if user.is_authenticated  %}
        <li class="navbar-item flexbox-left">
      <form class="navbar-item flexbox-left" id="logout-form" action="{% url 'logout' %}" method="POST">
        
        <!-- CSRF token field if required by your backend -->
        <!-- <input type="hidden" name="_token" value="your_csrf_token_here"> -->
        <a href="#" onclick="document.getElementById('logout-form').submit();" class="navbar-item-inner flexbox-left">
          <div class="navbar-item-inner-icon-wrapper flexbox">
            <i class="fas fa-sign-out-alt"></i> <!-- Use appropriate icon for logout -->
          </div>
          <span class="link-text">Logout</span>
        </a>
      </form>
        </li>
        <li class="navbar-item flexbox-left">
      <form class="navbar-item flexbox-left" id="feedviewer-form" action="{% url 'feedviewer:topics' %}" method="GET">
                <!-- CSRF token field if required by your backend -->
        <!-- <input type="hidden" name="_token" value="your_csrf_token_here"> -->
        <a href="#" onclick="document.getElementById('feedviewer-form').submit();" class="navbar-item-inner flexbox-left">
          <div class="navbar-item-inner-icon-wrapper flexbox">
             <i class="fas fa-stream"></i><!-- Use appropriate icon for logout -->
          </div>
          <span class="link-text">Feedviewer</span>
        </a>
      </form>
        </li>
        <li class="navbar-item flexbox-left">
      <form class="navbar-item flexbox-left" id="graphs-form" action="{% url 'graphs:home' %}" method="GET">
                <!-- CSRF token field if required by your backend -->
        <!-- <input type="hidden" name="_token" value="your_csrf_token_here"> -->
        <a href="#" onclick="document.getElementById('graphs-form').submit();" class="navbar-item-inner flexbox-left">
          <div class="navbar-item-inner-icon-wrapper flexbox">
             <i class="fas fa-chart-pie"></i><!-- Use appropriate icon for logout -->
          </div>
          <span class="link-text">Dashboard</span>
        </a>
      </form>
        </li>        {% endif %}
      </ul>
</nav>
    </header>
    <main id="main">
      <div class="flexbox-col-left-ns">
      {% block content %}
      {% endblock %}
      </div>
      <div class="flexbox-col-start-left">
      {% block content-left %}
      {% endblock %}
      </div>
    </main>     
</body>
</html>
